<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulletin Board</title>
</head>

<body>
    <a href="/post">Create a new post</a>
    <a href="/signup">Register</a>
    <a href="/login">Login</a>
    <h1>Posts</h1>
    <ul>
        {{range .}}
        <li>
            <h2>{{.title}}</h2>
            <p>{{.content}}</p>
            <p>{{.created_at}}</pp>
        </li>
        {{end}}
    </ul>
</body>

</html>