<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Bulletin Board</title>
</head>

<body>
    <nav>
        {{if .Logged}}
        <a href="/post">Create post</a>
        <a href="/logout">Logout</a>
        {{else}}
        <a href="/signup">Register</a>
        <a href="/login">Login</a>
        {{end}}
    </nav>
    <h1>News:</h1>
    <ul>
        {{range .Posts}}
        <li>
            <h2>{{.title}}</h2>
            <p>{{.content}}</p>
            <p>{{.created_at}}</pp>
            <p>Author: {{.user_id}}</pp>
        </li>
        {{end}}
    </ul>
</body>

</html>